@page "/"

<PageTitle>Home</PageTitle>

<h1>WebAssembly with dotnet core 8</h1>

<p>
WebAssembly, often abbreviated as WASM, is a low-level bytecode format that provides an efficient and secure way to run code on modern web browsers. 
It is designed to complement and run alongside JavaScript, allowing web developers to write performance-critical parts of their applications in c-sharp 
</p>
